[data-theme="a11yplayground"] {
  --primary-10: #170f39;
  --primary-20: #281c62;
  --primary-30: #38268b;
  --primary-40: #4d34bf;
  --primary-50: #5735df;
  --primary-60: #9986f9;
  --primary-70: #b2a5f8;
  --primary-80: #cdc2fa;
  --primary-90: #e2dcfc;
  --primary-95: #efedfe;
  --primary-100: #faf8fd;
  --secondary-10: #251204;
  --secondary-20: #401f08;
  --secondary-30: #5b2c0b;
  --secondary-40: #7e3d0f;
  --secondary-50: #b04900;
  --secondary-60: #e26e1c;
  --secondary-70: #ff9445;
  --secondary-80: #ffbb8e;
  --secondary-90: #ffd9bf;
  --secondary-95: #ffecdf;
  --secondary-100: #fff8f3;
  --neutral-10: #161616;
  --neutral-20: #282828;
  --neutral-30: #393939;
  --neutral-40: #4e4e4e;
  --neutral-50: #686868;
  --neutral-60: #8e8e8e;
  --neutral-70: #afafb0;
  --neutral-80: #c7caca;
  --neutral-90: #dde1e2;
  --neutral-95: #edefef;
  --neutral-100: #f9f9f9;
  --success-10: #031b15;
  --success-20: #082d24;
  --success-30: #094134;
  --success-40: #0d5947;
  --success-50: #10755e;
  --success-60: #16a181;
  --success-70: #1ec59d;
  --success-80: #6fddc2;
  --success-90: #afecde;
  --success-95: #d5f5ed;
  --success-100: #f1fcf9;
  --warning-10: #1f1500;
  --warning-20: #362500;
  --warning-30: #4d3501;
  --warning-40: #6a4801;
  --warning-50: #8b6001;
  --warning-60: #bf8301;
  --warning-70: #eaa102;
  --warning-80: #ffbf34;
  --warning-90: #ffdc8f;
  --warning-95: #ffedc7;
  --warning-100: #fff8ea;
  --error-10: #270f10;
  --error-20: #441b1b;
  --error-30: #612627;
  --error-40: #853535;
  --error-50: #af4546;
  --error-60: #ec6162;
  --error-70: #f29696;
  --error-80: #f7bbbc;
  --error-90: #fad8d8;
  --error-95: #fceaea;
  --error-100: #fef7f7;
  --info-10: #0f1627;
  --info-20: #1b2745;
  --info-30: #273763;
  --info-40: #354d88;
  --info-50: #4665b3;
  --info-60: #618af6;
  --info-70: #8dadff;
  --info-80: #b4c9ff;
  --info-90: #d3dfff;
  --info-95: #e9efff;
  --info-100: #f5f8ff;
  --white: #ffffff;
  --black: #000000;
  --primary-inverse: #feab10;

  /* Semantic Colors - Text */
  --text: var(--neutral-30);
  --text-subtle: var(--neutral-50);
  --text-subtler: var(--neutral-60);
  --text-subtlest: var(--neutral-70);
  --text-primary: var(--primary-50);
  --text-primary-strongest: var(--primary-20);
  --text-hover: var(--neutral-30);
  --text-selected: var(--primary-50);
  --text-selected-hover: var(--primary-40);
  --text-disabled: var(--neutral-60);
  --text-disabled-subtle: var(--neutral-70);
  --text-disabled-subtlest: var(--neutral-80);
  --text-selected-disabled: var(--neutral-50);
  --text-success: var(--success-40);
  --text-warning: var(--warning-40);
  --text-error: var(--error-40);
  --text-info: var(--info-40);
  --text-inverse: var(--black);

  /* Semantic Colors - Icon */
  --icon: var(--neutral-40);
  --icon-subtle: var(--neutral-50);
  --icon-strongest: var(--neutral-10);
  --icon-primary: var(--primary-50);
  --icon-primary-subtle: var(--primary-60);
  --icon-primary-subtlest: var(--primary-80);
  --icon-hover: var(--primary-60);
  --icon-selected: var(--primary-50);
  --icon-selected-hover: var(--primary-60);
  --icon-disabled: var(--neutral-60);
  --icon-disabled-subtle: var(--neutral-70);
  --icon-selected-disabled: var(--neutral-50);
  --icon-success: var(--success-40);
  --icon-warning: var(--warning-60);
  --icon-error: var(--error-40);
  --icon-error-strong: var(--error-20);
  --icon-info: var(--info-40);
  --icon-inverse: var(--black);
  --icon-primary-inverse: #f8ae68;

  /* Semantic Colors - Border */
  --border: var(--neutral-90);
  --border-strong: var(--neutral-30);
  --border-stronger: var(--neutral-20);
  --border-primary: var(--primary-60);
  --border-primary-subtle: var(--primary-80);
  --border-hover: var(--neutral-80);
  --border-hover-strong: var(--primary-40);
  --border-selected: var(--primary-50);
  --border-selected-subtle: var(--primary-60);
  --border-selected-subtlest: var(--primary-80);
  --border-selected-hover: var(--primary-40);
  --border-focus: var(--primary-60);
  --border-focus-strong: var(--primary-50);
  --border-disabled: var(--neutral-90);
  --border-selected-disabled: var(--neutral-80);
  --border-success: var(--success-40);
  --border-warning: var(--warning-60);
  --border-error: var(--error-40);
  --border-error-focus: var(--error-40);
  --border-error-focus-strong: var(--error-20);
  --border-error-strong: var(--error-20);
  --border-info: var(--info-40);

  /* Semantic Colors - Background */
  --bg: var(--neutral-100);
  --bg-strong: var(--neutral-100);
  --bg-stronger: var(--neutral-95);
  --bg-strongest: var(--neutral-90);
  --bg-hover: var(--primary-95);
  --bg-hover-strong: var(--primary-90);
  --bg-hover-subtle: var(--primary-100);
  --bg-hover-neutral: var(--neutral-100);
  --bg-hover-neutral-strong: var(--neutral-90);
  --bg-selected: var(--primary-95);
  --bg-selected-hover: var(--primary-90);
  --bg-selected-strong: var(--primary-90);
  --bg-selected-stronger: var(--primary-70);
  --bg-selected-strongest: var(--primary-50);
  --bg-selected-strongest-hover: var(--primary-40);
  --bg-disabled: var(--neutral-95);
  --bg-selected-disabled: var(--neutral-95);
  --bg-selected-stronger-disabled: var(--neutral-70);
  --bg-success: var(--success-100);
  --bg-success-hover: var(--success-95);
  --bg-success-strong: var(--success-50);
  --bg-success-strong-hover: var(--success-40);
  --bg-warning: var(--warning-100);
  --bg-warning-hover: var(--warning-95);
  --bg-warning-strong: var(--warning-50);
  --bg-warning-strong-hover: var(--warning-40);
  --bg-info: var(--info-100);
  --bg-info-hover: var(--info-95);
  --bg-info-strong: var(--info-50);
  --bg-info-strong-hover: var(--info-40);
  --bg-error: var(--error-100);
  --bg-error-hover: var(--error-95);
  --bg-error-strong: var(--error-50);
  --bg-error-strong-hover: var(--error-40);
  --bg-inverse: var(--neutral-20);
  --bg-inverse-subtle: var(--neutral-30);
  --bg-inverse-subtler: var(--neutral-50);
  --bg-inverse-subtlest: var(--neutral-60);
  --bg-inverse-hover: var(--neutral-40);
  --bg-primary: var(--primary-50);
  --bg-primary-subtle: var(--primary-60);
  --bg-primary-subtler: var(--primary-95);
  --bg-primary-subtlest: var(--primary-100);
  --bg-available: #6dd0a1;
  --bg-primary-hover: var(--primary-40);
  --bg-primary-subtlest-hover: var(--primary-90);
  --bg-primary-subtlest-selected: var(--primary-90);

  /* Semantic Colors - Overlay */
  --overlay-strong: rgba(40, 40, 40, 0.85);
  --overlay-subtle: rgba(40, 40, 40, 0.2);

  /* Semantic Colors - Hyperlink */
  --hyperlink: var(--primary-50);
  --hyperlink-hover: var(--primary-40);
  --hyperlink-visited: var(--primary-40);
  --hyperlink-inverse: var(--white);

  /* Semantic Colors - Focus Ring */
  --focus-ring: var(--primary-50);
  --focus-ring-inverse: var(--white);
}
