[data-theme="lifesg"] {
  --primary-10: #001731;
  --primary-20: #002752;
  --primary-30: #003874;
  --primary-40: #004d9f;
  --primary-50: #1768be;
  --primary-60: #3c91ec;
  --primary-70: #6cb4ff;
  --primary-80: #a5cdff;
  --primary-90: #cfe1fe;
  --primary-95: #e8f0fe;
  --primary-100: #f7f9ff;
}
